<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="fr.lip6.puck.cleanup"
         name="fr.lip6.puck.cleanup"
         point="org.eclipse.jdt.ui.cleanUps">
      <cleanUp
            class="fr.lip6.puck.core.ui.ExtractGraph"
            id="fr.lip6.puck.core.ExtractGraph">
      </cleanUp>
   </extension>
   <extension
         id="fr.lip6.puck.validator"
         name="fr.lip6.puck.validator"
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="fr.lip6.puck.core.ui.RuleValidator"
            createsProblems="true"
            id="fr.lip6.puck.core.compilationParticipant1"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>

</plugin>
